{% extends 'base.html'%}

 
{% block content %}
<div class="container">
{% for post in posts %}

    <div class="row">
        <div class="col-md-6">
          <div class="blog-card spring-fever" style="background-color: black;">
            <div class="title-content">
              <h3><a class="article-title" href="{{ url_for('main.post', post_id= post.id) }}">{{ post.title }}</a></h3>
              <hr />
              <div class="intro"><a href="#">{{ post.author.username }}</a></div>
            </div><!-- /.title-content -->
            <div class="card-info">
              {{ post.content }}
            </div><br><br><!-- /.card-info -->
            <div class="utility-info">
              <ul class="utility-list">
                <li class="date">{{ post.date_posted.strftime('%Y-%m-%d') }}</li>
              </ul>      
            </div><!-- /.utility-info -->
            <!-- overlays -->
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div><!-- /.blog-card --> 
    </div>      
</div>   
{% endfor %}  
{%endblock%}