<!-- {% extends 'base.html'%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
{% endblock %}
{% block content %}

<div class="blog-card spring-fever">
    <div class="title-content">
      <h3><a href="#">Check out my blog</a></h3>
      <div class="intro"> <a href="#">Inspiration</a> </div>
    </div>
    <div class="card-info">
    An expression is displayed differently on different people  using  different  ways.I love art..check out 
    what type of art i love..
      <a href="#">SIGNUP FIRST!<span class="licon icon-arr icon-black"></span></a>
    </div>
    <div class="utility-info">
      <ul class="utility-list">
        <li><span class="licon icon-like"></span><a href="#">2</a></li>
        <li><span class="licon icon-com"></span><a href="#">12</a></li>
        <li><span class="licon icon-dat"></span>30 May 2020 </li>
        <li><span class="licon icon-tag"></span><a href="#">Photos</a>, <a href="#">Nice</a></li>
      </ul>
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div>
{%endblock%}  
   -->